APP_NAME="Nomadic Traveler"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://nomadictraveler.org

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nomadictraveler
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=info@nomadictraveler.org
MAIL_FROM_NAME="Nomadic Traveler"

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database
SESSION_DRIVER=database
